@{
    ViewData["Title"] = "CO2 Monitor";
}
<script src="~/wwwroot/lib/jquery/dist/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>$(('.file-upload').file_upload();)</script>



<div>
    <form method="get" asp-controller="Home" asp-action="BackupButton" class="align-self-center">
        <input type="submit" class="mb-3 btn-primary" value="Архивировать" />
    </form>
</div>

<div class="body">
    
    <form enctype="multipart/form-data" method="post" asp-controller="Home" asp-action="AddFile" class="upload-form">
        
        <div class="areas-list">
                <div class="upload-container">
                            <img src="https://www.pngkit.com/png/full/855-8551704_aaa-logo-cloud-icon-error.png", width="100px", height="100px"></img>
                            <input type="file" class="file" name="file">
                </div>
                <span class="upload-text">Выберите или перетащите файл</span>
                <div class="addfilebutton">
                    <input type="submit" class="mb-3 btn-primary addfilebtn" value="Отправить" />
                </div>
           
        </div>
      
    </form>
    
        <div class="graph">
            <canvas id="myChart"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        </div>

        <script>
            const ctx = document.getElementById('myChart');
            function generateData(value, i1, i2, step = 1) {
                  for (let x = i1; x <= i2; x += step) {
                    yValues.push(eval(value));
                  }
            }
            y=20;
            var yValues = [];
            generateData(y, 0, 10, 0.5);
            new Chart(ctx,
                {
                    type: 'line',

                    data: {
                        labels: ['01.03.22', '02.03.22', '03.03.22', '04.03.22', '05.03.22', '06.03.22'],
                        datasets: [{
                            label: 'CO2',
                            data: [12, 26, 3, 10, 2, 3],
                            borderWidth: 4,
                            borderColor: 'blue',


                        },
                        {
                            label: 'Temperature',
                            data: [24, 12, 5, 1, 16, 1],
                            borderWidth: 4,
                            borderColor: 'black',
                            
                        },
                        {
                            label: 'Max Value',
                            fill: false,
                            data: yValues,
                            borderWidth: 2,
                            borderColor: 'red',
                            borderDash: [10, 5],
                            pointStyle: false

                        }
                        ]
                    },
                    options: {
                        tension: 0.15,

                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
        </script>

        <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
        <script>
            $('.upload-container input[type=file]').on('change', function(){
	            let file = this.files[0];
	            $('.body').find('.upload-text').html(file.name);
            });
        </script>
</div>
