@{
    ViewData["Title"] = "CO2 Monitor";
}
<script src="~/wwwroot/lib/jquery/dist/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>$(('.file-upload').file_upload();)</script>

<div class="body">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#BackupButton">Архивировать</button>
    <div class="areas-list">
        <p class="text-center">Загрузите файл с данными</p>
        <div class="file-upload-wrapper center">
            
            <input type="file" id="input-file-now" class="file-upload"/>

        </div>
    </div>

    <div class="graph">

        жопа
        
    </div>
</div>
