@using Monitoring.Interfaces;
@model GigaModel
@{
    
    ViewData["Title"] = "CO2 Monitor";
    var db = (IResourceService)(ViewData["db"] as IResourceService);

}
<script src="~/wwwroot/lib/jquery/dist/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>$(('.file-upload').file_upload();)</script>


<div>
    <form method="get" asp-controller="Home" asp-action="BackupButton" class="align-self-center">
        <input type="submit" class="mb-3 btn-primary" value="Архивировать" />
    </form>
</div>
<div class="align-self-end" role="group" aria-label="task-actions">
    <button type="button" class="mb-3 btn-primary" data-bs-toggle="modal" data-bs-target="#AreaAdd">Добавить арею</button>
</div>
<div class="modal fade mb-3" id="AreaAdd" tabindex="-1" aria-hidden="true" aria-labeledby="AreaAddLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header mb-3">
                <h1 class="modal-title fs-5" id="AreaAddLabel">Добавить арею</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-controller="Home" asp-action="AddArea">
                <input asp-for="name" class="form-control mb-3" placeholder="Имя" />
                <span asp-validation-for="name"></span>
                <input asp-for="description" class="form-control mb-3" placeholder="Описание" />
                <span asp-validation-for="description"></span>

                <input type="submit" class="mb-3 btn-primary" value="Принять" />
            </form>

        </div>
    </div>
</div>
<div class="body">
    
    <form enctype="multipart/form-data" method="post" asp-controller="Home" asp-action="AddFile" class="upload-form">
        
        <div class="areas-list">
                <div class="upload-container">
                            <img src="https://www.pngkit.com/png/full/855-8551704_aaa-logo-cloud-icon-error.png", width="100px", height="100px"></img>
                            <input id="jsonfile" type="file" class="file" name="file" accept=".json" onchange="return fileValidation()">
                </div>
                <span class="upload-text">Выберите или перетащите файл</span>
                <div class="addfilebutton">
                    <input type="submit" class="mb-3 btn-primary addfilebtn" value="Отправить"/>
                </div>
           
        </div>
    </form>
      <ul>
        @foreach(var area in db.GetAreas())
        {
                <li>
                    @area.name - @area.description
                    
                    <ul class="params list-group">
                        <li class="list-group-item">фыв 1</li>
                        <li class="list-group-item">фыв 2</li>
                        <li class="list-group-item">фыв 3</li>
                        <li><button type="button" class="mb-3 btn-primary" data-bs-toggle="modal" data-bs-target="#@area.id">Добавить параметр</button></li>
                    </ul>
                </li>
            <div class="modal fade mb-3" id="@area.id" tabindex="-1" aria-hidden="true" aria-labeledby="AddParam">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header mb-3">
                            <h1 class="modal-title fs-5" id="AreaAddLabel">Добавить арею</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="post" asp-controller="Home" asp-action="AddParameterToArea">
                            <input asp-for="area" value="@area" hidden readonly>
                            <input asp-for="name" class="form-control mb-3" placeholder="Имя" />
                            <span asp-validation-for="name"></span>
                            <input asp-for="min" class="form-control mb-3" placeholder="Описание" />
                            <span asp-validation-for="min"></span>
                            <input asp-for="max" class="form-control mb-3" placeholder="Описание" />
                            <span asp-validation-for="max"></span>

                            <input type="submit" class="mb-3 btn-primary" value="Принять" />
                        </form>

                    </div>
                </div>
            </div>
        }
        </ul>
    
        <div class="graph">
            <canvas id="myChart"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        </div>

        <script>
            const ctx = document.getElementById('myChart');

            const maxval = Array(6).fill(20);
            const minval = Array(6).fill(5);
            new Chart(ctx,
                {
                    type: 'line',

                    data: {
                        labels: ['01.03.22', '02.03.22', '03.03.22', '04.03.22', '05.03.22', '06.03.22'],
                        datasets: [{
                            label: 'CO2',
                            data: [12, 26, 3, 10, 2, 3],
                            borderWidth: 4,
                            borderColor: 'blue'


                        },
                        {
                            label: 'Temperature',
                            data: [24, 12, 5, 1, 16, 1],
                            borderWidth: 4,
                            borderColor: 'black'
                            
                        },
                        {
                            
                            label: 'Max Value',
                            fill: false,
                            data: maxval,
                            borderWidth: 2,
                            borderColor: 'red',
                            borderDash: [10, 5],
                            pointStyle: false

                        },
                        {

                            label: 'Min Value',
                            fill: false,
                            data: minval,
                            borderWidth: 2,
                            borderColor: 'red',
                            borderDash: [10, 5],
                            pointStyle: false

                        }
                        ]
                    },
                    options: {
                        tension: 0.15,

                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
        </script>

        <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
        <script>
            $('.upload-container input[type=file]').on('change', function(){
	            let file = this.files[0];
	            $('.body').find('.upload-text').html(file.name);
            });
        </script>
        <script>
            function fileValidation () {
            var toValidate = document.getElementById('jsonfile');
                var filePath = toValidate.value;

                // Allowing file type
                var allowedExtensions =
                    /(\.json)$/i;

                if (!allowedExtensions.exec(filePath)) {
                    toValidate.value = '';
                    window.location.replace("https://youtu.be/dQw4w9WgXcQ")
                    return false;
                }
            }
        </script>
</div>
