.body {
    display: grid;
    gap: 20px;
    grid-template-columns: 30% auto;
}

.graph {
    border: 2px solid black;
}

.areas-list {
    border: 2px solid black;
    display: grid;
    grid-template-rows: auto;
}

.upload-container {
    border: 2px solid red;
    display: grid;
    grid-template-rows: auto;
}
.file-area {
    width: 100%;
    position: relative;
    font-size: 18px;
}

    .file-area input[type=file] {
        position: absolute;
        width: 100%;
        height: 100%;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        cursor: pointer;
    }

    .file-area .file-dummy {
        width: 100%;
        padding: 50px 30px;
        background-color: #fff;
        text-align: center;
        transition: background 0.3s ease-in-out;
    }

