@{
    ViewData["Title"] = "CO2 Monitor";
}
<script src="~/wwwroot/lib/jquery/dist/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>$(('.file-upload').file_upload();)</script>


    
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#BackupButton">Архивировать</button>
<div class="body">
    <div class="areas-list">
        <div class="upload-container">

                      <form id="upload-container" method="POST" action="send.php">
                      <img id="upload-image" src="upload.svg">
                      <div>
                           <input id="file-input" type="file" name="file" multiple>
                           <label for="file-input">Выберите файл</label>
                           <span>или перетащите его сюда</span>
                      </div>
                     </form>    

        </div>
    </div>

    <div class="graph">
        <canvas id="myChart"></canvas>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </div>

    <script>
        const ctx = document.getElementById('myChart');


        new Chart(ctx,
            {
                type: 'line',

                data: {
                    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                    datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        borderWidth: 4,
                        borderColor: 'blue',


                    },
                    {
                        label: 'sdsdafs',
                        data: [24, 12, 5, 1, 16, 1],
                        borderWidth: 4,
                        borderColor: 'black',

                    }
                    ]
                },
                options: {
                    tension: 0.15,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });


    </script>
</div>
</div>
