@{
    ViewData["Title"] = "Generator";
}

<div>
    <form method="post" asp-controller="Gen" asp-action="SourceButton" class="align-self-center">
        <input type="submit" class="mb-3 btn-primary" value="Изменить area" />
    </form>
</div>
<div class="align-self-end" role="group" aria-label="task-actions">
    <button type="button" class="mb-3 btn-primary" data-bs-toggle="modal" data-bs-target="#AreaAdd">Добавить диарею</button>
</div>
<div class="modal fade mb-3" id="AreaAdd" tabindex="-1" aria-hidden="true" aria-labeledby="AreaAddLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header mb-3">
                <h1 class="modal-title fs-5" id="AreaAddLabel">Добавить арею</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
           @model Monitoring.Models.Area
            <form method="post" asp-controller="Gen" asp-action="AddArea">
                <input asp-for="Name" class="form-control mb-3" placeholder="Имя" />
                <span asp-validation-for="Name"></span>
                <input type="submit" class="mb-3 btn-primary" value="Принять" />
            </form>

        </div>
    </div>
</div>


