@{
    ViewData["Title"] = "Home Page";
}
<div>
    <form method="post" asp-controller="Home" asp-action="SourceButton" class="align-self-center">
        <input type="submit" class="mb-3 btn-primary" value="Изменить area" />
    </form>
</div>

<div class="text-center">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
